@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f3f5f9;
  --color-border: #e7e8eb;
  --color-light-border: #d1d5db;
  --color-background: #f6f9fc;
  --color-light-light-gray: #f6f6f6;
  --color-red: #ff0000;
  --color-dark-active: #7c3aed;
  --color-dark-active-hover: #6d28d9;
  --color-focus: #3b82f6;

  --transition: all 400ms ease;
  --box-shadow: 0 0.1rem 2rem rgba(30, 30, 30, 0.1);
  --light-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

html {
  scroll-behavior: smooth;
}

.app {
  font-family: "Satoshi", sans-serif;
}

/* Smooth transitions for dark mode */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
